@font-face {
  font-family: 'Nunito';
  font-style: normal;
  src: url(../fonts/Nunito.woff2) format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  src: url(../fonts/Roboto.woff2) format('woff2');
}

:root {
  --md-text-font: "Roboto";
  --md-code-font: "Roboto";
}
