{% extends "main.html" %}

{%- block blog_index %}
    <div class="col-md-12">
        {% set articles = pages|selectattr("page.meta.ow_article")|sort(reverse=true, attribute="page.meta.publication_date") %}
        {% for file in articles %}
        <div class="row">
            <hr class="mt-3 mb-1"/>
            <div class="col-md-8">
                <span><strong>{{ file.page.meta.summary_heading }}</strong></span>
            </div>
            <div class="col-md-4 justify-content-end d-flex">
               <small>Published on {{ file.page.meta.publication_date }}</small>
            </div>
            <div class="col-md-9">
                {{ file.page.meta.summary }}
            </div>
            <div class="col-md-3 justify-content-end d-flex">
               <a href="{{ file.page.url }}">Read more...</a>
            </div>
        </div>
        {% endfor %}


    </div>
{% endblock %}
